<div class="w-full app-container">
  <h1 class="form-header">Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource,
                 as: resource_name,
                 url: registration_path(resource_name),
                 html: {
                         method: :put,
                         class: "bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-md"
                 },
				  data: { turbo: false}
        ) do |f| %>

  <%= devise_error_messages! %>
  

    <div class="mb-4">
    	<%= f.label :first_name, class: "label-field" %>
        <%= f.text_field :first_name, autofocus: true,
                              class: "input-field"
            %>
    </div>
    <div class="mb-4">
    	<%= f.label :last_name, class: "label-field" %>
        <%= f.text_field :last_name, autofocus: true,
                              class: "input-field"
            %>
    </div>

  <div class="mb-4">
    <%= f.label :email, class: "label-field"  %>
    <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "input-field" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-4">
    <%= f.label :password, class: "label-field" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>

  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, class: "label-field"  %>
    <%= f.password_field :password_confirmation,
                                 autocomplete: "new-password",
                                 class: "input-field"
            %>
  </div>

  <div class="mb-4">
    <%= f.label :current_password, class: "label-field" %>
    <%= f.password_field :current_password,
                                 autocomplete: "current-password",
                                 class: "input-field"
                                 
            %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn-primary" %>
  </div>
  <% end %>

  <p>Unhappy? <span><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></span></p>

  <%= link_to "Back", :back %>
</div>
