<div class="w-full app-container">
    <h1 class="form-header">Sign Up</h1>

    <%= form_for(resource,
                 as: resource_name,
                 url: registration_path(resource_name),
                 html: {
                         class: "form-container"
                 },
				 data: { turbo: false}
        ) do |f| %>

        <%= devise_error_messages! %>

	<div class="mb-4">
    	<%= f.label :first_name, class: "label-field" %>
        <%= f.text_field :first_name, autofocus: true,
                              class: "input-field"
            %>
    </div>
    <div class="mb-4">
    	<%= f.label :last_name, class: "label-field" %>
        <%= f.text_field :last_name, autofocus: true,
                              class: "input-field"
            %>
    </div>

        <div class="mb-4">
            <%= f.label :email, class: "label-field" %>
            <%= f.email_field :email,
                              autocomplete: "email",
                              placeholder: "user@example.com",
                              class: "input-field" %>
        </div>

        <div class="mb-4">
            <%= f.label :password, class: "label-field" %>
            <% if @minimum_password_length %>
                <small><em class="text-gray-600">(<%= @minimum_password_length %> characters minimum)</em></small>
            <% end %>
            <%= f.password_field :password,
                                 autocomplete: "new-password",
                                 class: "input-field"
            %>
        </div>

        <div class="mb-4">
            <%= f.label :password_confirmation, class: "label-field" %>
            <%= f.password_field :password_confirmation,
                                 autocomplete: "new-password",
                                 class: "input-field"
            %>
        </div>

        <div class="mb-4">
            <%= f.submit "Sign Up",
                         class: "btn-primary"
            %>
        </div>

        <%= render "devise/shared/links" %>

    <% end %>

    <%= render "devise/shared/form_footer" %>
</div>
