<%= turbo_frame_tag 'stock' do %>
<% if @stock.present? %>
  	<div class="mt-4 border rounded-md !px-5 !py-5 !w-[300px] flex flex-col gap-2 shadow-lg">
		<p class="text-lg">
		<span class="font-bold">Symbol: </span>	 
		<%= @stock.ticker %></p>	
		<p class="text-lg">
		<span class="font-bold">Name: </span>	 
		<%= @stock.name %>
		</p>	
		<p class="text-lg">
		<span class="font-bold">Price: </span>	 
		<%= @stock.last_price %>
		</p>	
 	</div>

	<% if current_user.can_track_stock?(@stock.ticker) %>
	<%= turbo_frame_tag 'portfolio' do %>
	<%= button_to "Add to portfolio", user_stocks_path(ticker: @stock.ticker), class: "btn-success !mt-4 !w-max", method: :post  %>
	<% end %>
	<% else %>
	<div class="mt-4 alert">You are already tracking 
		<% if !current_user.under_track_stock_limit? %>
			10 stocks
		<% else %>
		this stock
		<% end %>
	 </div>
	<% end %>
<% end %>
<% end %>