<div>
  <h1 class="font-bold text-4xl">My Portfolio</h1>

  <div class="mt-8">
	<h3 class="text-xl font-bold" >Search Stocks</h3>
	
	<%= turbo_frame_tag 'stock' do %>
		<%= form_with url: stock_search_path, method: :get, 
		# local: false, 
		html: { class: "max-w-2xl flex items-stretch w-full mt-2"} do |f|  %>
		<input type="hidden" name="format" value="turbo_stream">
			<%= f.text_field :stock,
						value: "#{params[:stock]}",
						placeholder: "Enter stock symbol here", 
						class: "input-field flex-auto w-[400px] !mt-0 !rounded-r-none", 
						autofocus: true  %>

			<%= button_tag type: :submit, class: "btn-primary !w-[100px] !rounded-l-none", :name => nil do  %>
			<%= fa_icon "search 2x" %>
			<% end %>
		<% end %>
	<% end %>
  </div>

</div>

<div id="stock_card">
</div>


