<div class="bg-black flex justify-between py-6 px-6 text-white">
<div class="flex items-center gap-4">
<%= link_to "Finance App", root_path, class: "text-lg font-bold"  %>
</div>
<div class="flex items-center gap-3">

<%  if user_signed_in? %>
<p class="<%= active_nav_bar(edit_user_registration_path)  %> space-x-1">
<%= fa_icon "user" %>
<%= link_to current_user.full_name, edit_user_registration_path %></p>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete, form: {data: {  turbo: false,turbo_confirm: "Are you sure"} } , class: "btn-primary" %>

<%  else %>


<p
class="<%= active_nav_bar(new_user_registration_path) %>"> <%= link_to "Register", new_user_registration_path %></p>
<p
class="<%= active_nav_bar(new_user_session_path) %>"
>
<%= link_to "Login", new_user_session_path  %>
</p>
<% end %>


</div>
</div>