<div class="w-full app-container ">
    <h1 class="form-header">Log In</h1>

    <%= form_for(resource,
                 as: resource_name,
                 url: session_path(resource_name),
                 html: {
                         class: "form-container"
                 },
				 data: { turbo: false}
        ) do |f| %>

        <%= devise_simple_error_messages! %>

        <div class="mb-4">
            <%= f.label :email, class: "label-field" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
                              class: "input-field"
            %>
        </div>

        <div class="mb-4">
            <%= f.label :password, class: "label-field" %>
            <%= f.password_field :password,
                                 autocomplete: "current-password",
                                 class: "input-field"
            %>
        </div>

        <% if devise_mapping.rememberable? %>
            <div class="mb-4">
                <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
                <%= f.label :remember_me,
                            class: "align-baseline inline-block text-gray-700 text-sm"
                %>
            </div>
        <% end %>

        <div class="mb-4">
            <%= f.submit "Log in",
                         class: "btn-primary"
            %>
        </div>

        <%= render "devise/shared/links" %>

    <%= render "devise/shared/form_footer" %>
    <% end %>

</div>
